#new-document-panel{
    height: 100%;
    padding-top: 20px;
}

.state {
	position: absolute;
  display: block;
  height: 60px;
  width: 100px;
	border: 1px solid black;
  background-color: #ddddff;
}

.connectIn {
  width: 20%;
  height: 100%;
  background-color: #B3B3FF;
  cursor: pointer;
  float: left;
}

.connectOut{
  width: 20%;
  height: 100%;
  background-color: #B3B3FF;
  cursor: pointer;
  float: right;
}
#plumbing-zone {
    width: 100%;
    height: 500px;
    position: relative;
}
	
 #trash {
 	width: 50px;
 	height: 50px;
 	float: right;
 	border: 2px solid grey;
 	border-radius: 10px;
 	background-image: url(../img/trash.png);
 	background-position:center center;
 	background-repeat:no-repeat;
 	background-size: 75%;
 }
 