#components{
	height: 100%;
	text-align: center;
	background-color: #FFFFFF;
	color: #1A2530;
	border-right: 5px solid #1A2530;
}

#working-zone{
	height: 100%;
	background-color: #FFFFFF;
}

#interaction-panel{
	height: 25px;
	width: 100%;
	background-color: #34495E;
	border-bottom-right-radius: 10px;
	border-bottom-left-radius: 10px;
	text-align: center;
	position: relative;
	z-index: 2;
}
#interaction-panel-opener{
	font-size: 25px;
	color: #FFFFFF;
}
#interaction-panel-opener:hover{
	color: #E74C3C;
}
#interaction-zone{
	height: 60px;
	width: 100%;
	background-color: #34495E;
	position: relative;
	z-index: 2;
}
.component{
	width: 60px;
	height: 60px;
	margin-bottom: 5px;
	margin-left: auto;
	margin-right: auto;
	border: 2px solid;
	border-radius: 10px;
	background-size: contain;
}
.component:hover{
	color: #E74C3C;
}
.dropped-component{
	position: absolute;
	display: block;
	width: 50px;
	height: 50px;
	border: 2px solid;
	border-radius: 10px;
	background-size: contain;
}
.pdf-component{
	background-image: url(../img/pdf.png);
}
.video-component{
	background-image: url(../img/video.png);
}
.tchat-component{
	background-image: url(../img/tchat.png);
	z-index: 4;
}

[draggable] {
	cursor: move;
}