#left-panel{
    height: 100%;
    margin-left: 20px;
    padding-top: 20px;
    width: 200px;
    float: left;
}

#left-panel img{
    width: 100%;
}

#menu{
    padding-top: 20px;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}

