#left-panel{
    height: 100%;
    padding-top: 20px;
}

#left-panel img{
    width: 100%;
}

#menu{
    padding-top: 20px;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}
#new-document-panel{
    background-color: grey;
    height: 100%;
}
#library-panel{
    background-color: #3b5998;
    height: 100%;
}
