#left-panel{
    height: 100%;
    padding-top: 20px;


}

#left-panel img{
    width: 100%;
}

#menu{
    padding-top: 20px;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}

.panel-body.body-panel{
	padding: 0px;
}


@font-face {
	font-family: 'Glyphicons Halflings';
	src: url('../fonts/glyphicons-halflings-regular.eot');
	src: url('../fonts/glyphicons-halflings-regular.eot?#iefix') format('embedded-opentype'), 
	url('../fonts/glyphicons-halflings-regular.woff') format('woff'), 
	url('../fonts/glyphicons-halflings-regular.ttf') format('truetype'), 
	url('../fonts/glyphicons-halflings-regular.svg#glyphicons-halflingsregular') format('svg');
}