<html>
    <head>
        <title>Alubar</title>

        <meta charset="utf-8" />
	    <meta name="description" content="This is a Alubar webapp">
	    <meta name="author" content="Paquet Kevin">
	    <meta name="author" content="Denaux Robin">

        <link rel="stylesheet" href="css/style.css">
        <link rel="stylesheet" href="css/admin-panel.css">
        <link rel="stylesheet" href="css/library-panel.css">
        <link rel="stylesheet" href="css/new-document-panel.css">
        <link rel="stylesheet" href="css/state-edition.css">
        <link rel="stylesheet" href="http://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">

    </head>
    <body ng-app="alubar-app">
        <div ng-controller="MainCtrl as MainController">

            <div id="left-panel" class="col-md-2">
                <img src="img/logo-alubar.png" alt="logo alubar" />

                <div id="menu" class="btn-group-vertical" role="group" aria-label="...">
                    <a ng-click="MainController.selectTab(1)" class="btn btn-default">Scenario builder</a>
                    <a ng-click="MainController.selectTab(2)" class="btn btn-default">Library</a>
                    <a ng-click="MainController.selectTab(3)" class="btn btn-default">Administration</a>
                </div>

            </div>

            <div id="new-document-panel" ng-show="MainController.isSelected(1)" ng-controller="NewDocCtrl as controller" class="col-md-10">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">{{documentName}}</h3>
                        <a type="button" class="btn" ng-class="documentSaveState" ng-click="saveDocument()"><span class="glyphicon glyphicon-floppy-disk" aria-hidden="true"></span> Save to library</a>
                        <a type="button" class="btn btn-info" ng-click=""><span class="glyphicon glyphicon-arrow-up" aria-hidden="true"></span> Export</a>
                        <a type="button" class="btn btn-info" ng-click=""> <span class="glyphicon glyphicon-arrow-down" aria-hidden="true"></span> Import</a>
                        <a type="button" class="btn btn-danger" ng-confirm-click="Are you sure to delete everything ?" confirmed-click="deleteAll()"><span class="glyphicon glyphicon-trash" aria-hidden="true"></span> Delete all</a>
                        
                        <div id="editMenu" collapse="stateEditionMode">
                            <input type="text"  ng-model="nameInEdition.name">
                            <a type="button" class="btn btn-success" ng-click="stateEditionMode = true">Validate</a>
                            <a type="button" class="btn btn-success" ng-click="inStateEditionMode = true; stateEditionMode = true">Editer le contenu</a>
                        </div>
                    </div>
                    
                    <!-- PARTIE JSPLUMP -->
                    <div class=" table-responsive panel-body body-panel" ng-show="!inStateEditionMode">
                        <div id="plumbing-zone" ng-init="init()">
                        </div>
                    </div>
                    
                    <!-- PARTIE ETAPE -->
                    <div class="table-responsive panel-body body-panel" ng-show="inStateEditionMode">
                        <div id="container" ng-controller="StateEditionCtrl" ng-init="init()">
                            <div id="components" class="col-md-3">
                                <a type="button" class="btn btn-default" ng-click="$parent.inStateEditionMode = !$parent.inStateEditionMode"><span class="glyphicon glyphicon-arrow-left"></span> Back to scenario edition</a>
                                <h4>Components list</h4>
                                <!-- <a href="" ng-click="console()">Console</a> -->
                                <div x-lvl-draggable='true' class="component pdf-component"></div>
                                <div x-lvl-draggable='true' class="component video-component"></div>
                                <div x-lvl-draggable='true' class="component tchat-component"></div>
                            </div>
                            <div id="working-zone" class="col-md-9" x-lvl-drop-target='true' x-on-drop='dropped(dragEl, dropEl, posX, posY)'>
                                <div collapse="!interactionZone">
                                    <div id="interaction-zone" x-lvl-drop-target='true' x-on-drop='droppedInteraction(dragEl, dropEl, posX, posY)'>
                                        <div ng-repeat="interaction in interactions" ng-class="interaction.kind"></div>
                                    </div>
                                </div>
                                <div id="interaction-panel">
                                    <a href="" title="Open interaction panel" id="interaction-panel-opener" ng-click="interactionZone = !interactionZone"><span class="glyphicon" ng-class="{'glyphicon-chevron-down': !interactionZone, 'glyphicon-chevron-up': interactionZone}"></span></a>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div id="library-panel" ng-show="MainController.isSelected(2)" ng-controller="LibraryController" class="col-md-10">
                <div class="panel panel-default" >
                    <div class="panel-heading">
                        <h3 class="panel-title">Library</h3>
                    </div>
                    <div class="panel-body">
                        <div class="table-responsive panel-body">
                            <a type="button" class="btn btn-primary" ng-class="(selected==null||selected.edit==false)?'enabled':'disabled'" ng-click="newScenario()">New scenario</a>
                            <a type="button" class="btn btn-primary" ng-class="selected!=null?'enabled':'disabled'" ng-click="editName()">Rename</a>
                            <a type="button" class="btn btn-primary" ng-class="(selected!=null&&selected.edit==false)?'enabled':'disabled'" ng-click="load();MainController.selectTab(1)">Load</a>
                            <a type="button" class="btn btn-primary" ng-class="selected!=null?'enabled':'disabled'" ng-click="delete()">Delete</a>
                            <table class="table">
                                <thead>
                                    <tr>
                                    <th>Name</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="scenario in scenarios" ng-class="{true: 'info'}[scenario.selected]">
                                    <td ng-click="select(scenario)">
                                    <div ng-dblclick="editName()">
                                        <p ng-hide="scenario.edit">{{scenario.name}}</p>
                                        <input ng-show="scenario.edit" ng-model="scenario.tmpName"></input>
                                        <a type="button" class="btn btn-primary" ng-show="scenario.edit" ng-click="editName()">OK</a>
                                        <a type="button" class="btn btn-primary" ng-show="scenario.edit" ng-click="scenario.edit=!scenario.edit" ng-class="selected.name!=null?'enabled':'disabled'">Cancel</a>
                                    </div>
                                    </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>

            <div id="admin-panel" ng-show="MainController.isSelected(3)" class="col-md-10">
                
                <div class="panel panel-default" ng-controller="AdminCtrl as admin">
                    <div class="panel-heading">
                        <h3 class="panel-title">User management</h3>
                    </div>
                    <div class="table-responsive panel-body">
                        <a type="button" class="btn btn-primary" ng-click="addUserCollapse = !addUserCollapse">Add user</a>
                        <a type="button" class="btn btn-primary" ng-click="">Delete user </a>

                        <div id="add-form" class="form-group" collapse="addUserCollapse">
                            <label>Name:</label>
                            <input type="text" ng-model="admin.tmpUser.username" class="form-control">
                            <label>Roles:</label>
                            <div class="btn-group drop-button" dropdown is-open="isopen2" >
                                <a type="button" class="btn btn-default dropdown-toggle" dropdown-toggle ng-disabled="disabled2">
                                    {{admin.tmpUser.newRole}} <span class="caret"></span>
                                </a>
                                <ul class="dropdown-menu" role="menu">
                                    <li ng-repeat="role in admin.possibleRoles"><a href="#" ng-click="admin.selectRole(admin.tmpUser, role)">{{role}}</a></li>
                                </ul>
                                <a type="button" class="btn btn-primary" ng-click="admin.addNewRole(admin.tmpUser)"> + </a>
                            </div>
                            <ul> 
                                <li ng-repeat="role in admin.tmpUser.roles">
                                    {{role}}
                                </li>
                            </ul>
                            <a type="button" class="btn btn-primary" ng-click="admin.addNewUser()">OK </a>
                        </div>
                        
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>ID</th>
                                    <th>Name</th>
                                    <th>Roles</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="user in admin.users">
                                    <td>{{user.id}}</td>
                                    <td>{{user.username}}</td>
                                    <td>
                                        <span ng-repeat="role in user.roles">
                                            {{role}}
                                        </span>
                                        <div class="btn-group drop-button" dropdown is-open="isopen">
                                            <a type="button" class="btn btn-default dropdown-toggle" dropdown-toggle ng-disabled="disabled">
                                                {{user.newRole}} <span class="caret"></span>
                                            </a>
                                            <ul class="dropdown-menu" role="menu">
                                                <li ng-repeat="role in admin.possibleRoles"><a href="#" ng-click="admin.selectRole(user, role)">{{role}}</a></li>
                                            </ul>
                                            <a type="button" class="btn btn-primary" ng-click="admin.addNewRole(user)"> + </a>
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </body>
    <script src="js/libs/jquery-1.11.1.js"></script>
    <script src="js/libs/mousetrap.min.js"></script>
    <script src="js/libs/dom.jsPlumb-1.7.2-min.js"></script>
    <script src="js/libs/angular.min.js"></script>
    <script src="js/libs/bootstrap.min.js"></script>

    <script src="js/libs/lvl-uuid.js"></script>
    <script src="js/libs/lvl-drag-drop.js"></script>
    <script src="js/libs/ui-bootstrap-0.12.0.min.js"></script>
    <script src="js/libs/ui-bootstrap-tpls-0.12.0.js"></script>
    <script src="js/libs/angular-local-storage.js"></script>
    
    <script src="js/alubar/alubar-app.js"></script>
    
    <script src="js/alubar/services/library-service.js"></script>
    <script src="js/alubar/services/tab-service.js"></script>
    <script src="js/alubar/services/state-edition-service.js"></script>
    
    <script src="js/alubar/directives/file-directive.js"></script>
    <script src="js/alubar/directives/confirmation-directive.js"></script>
    <script src="js/alubar/directives/etape-directive.js"></script>
    
    <script src="js/alubar/controllers/admin-ctrl.js"></script>
    <script src="js/alubar/controllers/new-doc-ctrl.js"></script>
    <script src="js/alubar/controllers/library-ctrl.js"></script>
    <script src="js/alubar/controllers/state-edition-ctrl.js"></script>
</html>
