<html>
	<head>
		<title>Alubar - State edition</title>

        <meta charset="utf-8" />
	    <meta name="description" content="This is a Alubar webapp">
	    <meta name="author" content="Paquet Kevin">
	    <meta name="author" content="Denaux Robin">

        <link rel="stylesheet" href="css/style.css">
        <link rel="stylesheet" href="css/admin-panel.css">
        <link rel="stylesheet" href="css/library-panel.css">
        <link rel="stylesheet" href="css/new-document-panel.css">
        <link rel="stylesheet" href="css/state-edition.css">
        <link rel="stylesheet" href="http://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
	</head>
	<body ng-app="alubar-app">
		<div id="container" ng-controller="StateEditionCtrl" ng-init="init()">
			<div id="components" class="col-md-2">
				<a type="button" class="btn btn-default"><span class="glyphicon glyphicon-arrow-left"></span> Back to scenario edition</a>
				<a type="button" class="btn btn-default" ng-click="console()">Console</a>
				<h4>Components list</h4>
				<!-- <a href="" ng-click="console()">Console</a> -->
				<div x-lvl-draggable='true' class="component pdf-component"></div>
				<div x-lvl-draggable='true' class="component video-component"></div>
				<div x-lvl-draggable='true' class="component tchat-component"></div>
			</div>
			<div id="working-zone" class="col-md-10" x-lvl-drop-target='true' x-on-drop='dropped(dragEl, dropEl, posX, posY)'>
				<div collapse="!interactionZone">
					<div id="interaction-zone" x-lvl-drop-target='true' x-on-drop='droppedInteraction(dragEl, dropEl, posX, posY)'>
						<div ng-repeat="interaction in interactions" ng-class="interaction.kind"></div>
					</div>
				</div>
				<div id="interaction-panel">
					<a href="" title="Open interaction panel" id="interaction-panel-opener" ng-click="interactionZone = !interactionZone"><span class="glyphicon" ng-class="{'glyphicon-chevron-down': !interactionZone, 'glyphicon-chevron-up': interactionZone}"></span></a>

				</div>
			</div>
		</div>
	</body>

	<script src="js/libs/jquery-1.11.1.js"></script>
	<script src="js/libs/mousetrap.min.js"></script>
	<script src="js/libs/dom.jsPlumb-1.7.3-min.js"></script>
    <script src="js/libs/angular.js"></script>
    
	<script src="js/libs/lvl-uuid.js"></script>
    <script src="js/libs/lvl-drag-drop.js"></script>

    <script src="js/libs/bootstrap.min.js"></script>
    <script src="js/libs/ui-bootstrap-0.12.0.min.js"></script>
    <script src="js/libs/ui-bootstrap-tpls-0.12.0.js"></script>

    <script src="js/libs/angular-local-storage.js"></script>
    

    <script src="js/alubar/alubar-app.js"></script>
    <script src="js/alubar/services/state-edition-service.js"></script>
    <script src="js/alubar/controllers/admin-ctrl.js"></script>
    <script src="js/alubar/controllers/new-doc-ctrl.js"></script>
    <script src="js/alubar/controllers/state-edition-ctrl.js"></script>

    
</html>